:root {
  --color-bg: #c9c9c9;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}
@font-face {
	font-family: HK Grotesk;
	src: url(/Assets/Montserrat.zip)
		format("opentype");
}
body {
	font-family: HK Grotesk;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main {
	min-width: 100%;
	width: 100%;
	display: flex;
  	flex-direction: row;
}
.left {
	min-width: 90%;
	width: 90%;
	background-color: #c9c9c9;
}
.right {
	min-width: 10%;
  	width: 10%;
  	background-color: #546d91;
}
.test-box {
	min-width: 90%;
	width: 90%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.3);
	padding: 2rem;
	margin: 2rem auto;
}
