#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#left {
  width: 90%;
  height: 100%;
  background-color: #c9c9c9;
  border: 5px solid red;
}
#right {
  width: 10%;
  height: 100%;
  border: 5px solid red;
}
